body {
	background-color: #232323;
	margin: 0px;
	font-family: "Montserrat", "Avenir";
}

h1 {
	text-align: center;
	line-height: 1.1;
	color: white;
	background: steelblue;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0; /* Padding top and bottom */
	margin: 0;
}

button {
	border: none;
	background: none;
	text-transform: uppercase; 
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	outline: none; /* Remove annoying blue broswer outline */
	transition: all .3s; /* Not compatible with all browsers */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

button:hover {
	color: white;
	background: steelblue;
}

#color-display {
	font-size: 200%;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.6%;
	border-radius: 15%;
	transition: background .6s; /* Not compatible with all browsers */
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;

}

#container {
	margin: 20px auto; /*Great way to center items!*/
	max-width: 600px;
}

.info-bar {
	color: white;
	text-align: center;
}

#stripe {
	background: white;
	height: 30px;
	color: black;
}

.selected {
	background: blue;
	color: white;
	background: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
}

